html {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 500;
}
header {
  color: #ffffff;
  background-color: #a0a0a0;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #000077;
}

aside {
  display: none;
}

a {
  color: #000000;
  background-color: #c0c0c0;
}

section {
  background-color: #707070;
}
